:root {
  --stone-dark-grey: rgb(102, 102, 102);
  --stone-light-grey: rgb(153, 153, 153);

  --primary: rgb(68, 106, 68);
  --on-primary: rgb(250, 255, 250);
  --primary-translucent: rgba(68, 106, 68, 0.5);
  --primary-container: rgb(149, 233, 149);
  --on-primary-container: rgb(41, 63, 41);

  --secondary: rgb(106, 87, 68);
  --on-secondary: rgb(255, 250, 240);
  --secondary-container: rgb(233, 191, 149);
  --on-secondary-container: rgb(63, 52, 41);

  --neutral: var(--stone-dark-grey);
  --neutral-variant: var(--stone-light-grey);

  --box-shadow: rgb(49, 49, 49);
  --box-shadow-translucent: rgb(49, 49, 49, 0.5);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'EB Garamond', serif;
  margin: 0;
  padding: 0;
}

header {
  color: var(--on-primary);

  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
}

header #nav-bar {
  background-color: var(--primary);
  box-shadow: 0 2px 12px 2px var(--box-shadow);
  z-index: 1;

  display: flex;
  flex-direction: row;
  gap: 2.5vw;
  align-items: center;

  padding: 0.5rem 2.5vw;
}

header #nav-bar h1 {
  font-size: 3rem;
}

header #banner {
  flex-grow: 1;

  background-image: url("/assets/pictures_of_jesus_crowd.jpg");
  background-repeat: no-repeat;
  background-position-y: 20%;

  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;

  padding: 0 15vw;
}

header #banner-text {
  background-color: var(--primary-translucent);
  padding: 2rem 2.5vw;
  border-radius: 1rem;
  box-shadow: 0 0 4px 0px var(--box-shadow-translucent);
}

/* SVG Animation */

#tomb-mountain {
  fill: var(--stone-light-grey);
}

#tomb-stone {
  fill: var(--stone-dark-grey);
  transition: transform 0.75s;
}

button:hover~svg #tomb-stone {
  transform: translateX(22%);
}

/* END SVG Animation */